{% extends 'main/base.html' %}
{% load static %}

{% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_9.jpg' %});"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">Register</h1>
                    <!-- <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p> -->
                </div>
            </div>
        </div>
    </section>
    <div class="container py-5">
        <div class="row questionaire">
            <div class="col-12">
                <label>How do you currently sell your product? * </label>
                <select class="form-control form-control-lg" id="exampleFormControlSelect2">
                    <option>I sell my products through social media</option>
                    <option>I sell my products through online marketplaces such as Souq.com or Amazon</option>
                    <option>I sell my products from my retail store</option>
                </select>

            </div>
            <div class="col-12 my-5">
                <label>How do you source your products? * </label>
                <select class="form-control form-control-lg" id="exampleFormControlSelect2">
                    <option>I will use drop shipping</option>
                    <option>I have my own products</option>
                    <option>I am a retailer and I get products from wholesalers</option>
                </select>

            </div>
            <div class="col-12">
                <label>Do you have a registered business? * </label>
                <select class="form-control form-control-lg" id="exampleFormControlSelect2">
                    <option>Yes</option>
                    <option>No</option>
                    <option>No, but I will register soon</option>
                </select>
            </div>
            <div class="row">
                <label class="custom-check m-0 pt-3 pl-4">
                    <input type="checkbox" class="hide1" name="previous_website">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    I have previous website
                </label>
            </div>
        </div>
        <div class="row py-5 button_row next_button">
            <div class="col-12 text-center">
                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn m-auto"><a
                        href="questionaire2">Next</a></button>
            </div>
        </div>
    </div>

{% endblock content %}