{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% include "base_head_marketing.html" %}

</head>

<body>
    {% include "dashboard_header.html" %}
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        {% include "sidebar.html" %}
        <div class="main-panel">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h4>Orders</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-wrapper">
                <div class="content-inner">
                    <div class="page-tabs-container">
                        <div class="navigation-tabs-wrapper">
                            <ul class="navigation-tabs">
                                <li class="active">
                                    <a href="#">
                                        Orders
                                    </a>
                                </li>
                                <li class="">
                                    <a href="#">
                                        Returns
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>