<!DOCTYPE html>
<html lang="en">

<head>
    {% include "base_head_dashboard.html" %}
</head>

<body>
    {% include "dashboard_header.html" %}
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        {% include "sidebar.html" %}
    </div>
    <div class="main-panel">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4>Products</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-wrapper">
            <div class="content-inner">
                <div class="page-tabs-container">
                    <div class="navigation-tabs-wrapper">
                        <ul class="navigation-tabs">
                            <li class="active">
                                <a href="#">
                                    Products
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    Categories
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    Options
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    Reviews
                                </a>
                            </li>
                            <li class="">
                                <a href="#">
                                    Brands
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="datatableGrid_wrapper" class="dataTables_wrapper no-footer">
                        <div class="datatable-header">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "base_footer_dashboard.html" %}
</body>

</html>