{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "base_head.html" %}
</head>

<body>
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_9.jpg' %});"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h1 class="mb-3 bread">Register</h1>
                    <!-- <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p> -->
                </div>
            </div>
        </div>
    </section>
    <div class="container py-5">
        <div class="row questionaire">
            <div class="col-12">
                <label>How do you currently sell your product? * </label>
                <select class="form-control form-control-lg" id="exampleFormControlSelect2">
                    <option>I sell my products through social media</option>
                    <option>I sell my products through online marketplaces such as Souq.com or Amazon</option>
                    <option>I sell my products from my retail store</option>
                </select>

            </div>
            <div class="col-12 my-5">
                <label>How do you source your products? * </label>
                <select class="form-control form-control-lg" id="exampleFormControlSelect2">
                    <option>I will use drop shipping</option>
                    <option>I have my own products</option>
                    <option>I am a retailer and I get products from wholesalers</option>
                </select>

            </div>
            <div class="col-12">
                <label>Do you have a registered business? * </label>
                <select class="form-control form-control-lg" id="exampleFormControlSelect2">
                    <option>Yes</option>
                    <option>No</option>
                    <option>No, but I will register soon</option>
                </select>
            </div>
            <div class="row">
                <label class="custom-check m-0 pt-3 pl-4">
                    <input type="checkbox" class="hide1" name="previous_website">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    I have previous website
                </label>
            </div>
        </div>
        <div class="row py-5 button_row next_button">
            <div class="col-12 text-center">
                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn m-auto"><a
                        href="questionaire2">Next</a></button>
            </div>
        </div>
    </div>

    {% include "footer.html" %}

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" />
        </svg></div>


    <script src="{%static 'js/jquery.min.js' %}"></script>
    <script src="{%static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{%static 'js/popper.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{%static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{%static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{%static 'js/owl.carousel.min.js' %}"></script>
    <script src="{%static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{%static 'js/aos.js' %}"></script>
    <script src="{%static 'js/jquery.animateNumber.min.js' %}"></script>
    <script src="{%static 'js/scrollax.min.js' %}"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="{%static 'js/google-map.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>

    <script src="{%static '/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="{%static '/off-canvas.js' %}"></script>
    <script src="{%static '/hoverable-collapse.js' %}"></script>
    <script src="{%static '/template.js' %}"></script>
    <script src="{%static '/todolist.js' %}"></script>
    <!-- endinject -->


</body>

</html>